※本メールはFroud Detectorサービスの新規登録の方向けに送付しています。
※もし登録したことがないのにこのメールが届いている場合は、下記の『拒否』を
※クリックするか、下記Emailアドレスまでお申し出下さい。

この度はFroud Detectorサービスにご登録いただいきまして、ありがとうございます。
下記、リンクをクリックすることで、登録が完了します。登録が完了しますと、システム
からパスワードが送付されますので、ご確認下さい。

本サービスを利用を開始する場合は下記をクリック下さい。
***accept***

本サービスの利用に心当たりがない、もしくは間違って登録したなどで
登録情報を削除したい場合は、下記をクリックするか、下記Adminまで
お問い合わせ下さい。
***refuse***

